@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&family=Sawarabi+Gothic&display=swap');


.container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    font-family: 'Sawarabi Gothic', serif;
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 8px rgba(42, 42, 42, 0.38);
}